.jumbotron
  .container
    %h1 Thank you!
.container
  %p Your details have been saved, and we have sent you an email. Please click on the link in the email to confirm your email address.
  %br
  %br
  %br
  %br
