- if !flash.empty?
  .container
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{:class => flash_class(name) }
          %a.close{"data-dismiss" => "alert"} ×
          = content_tag :div, msg, :id => "flash_#{name}"
